@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  font-family: "VT323", monospace;
}

#container {
  display: flex;
  justify-content: center;
}
.grid {
  border: 5px solid darkgrey;
  box-shadow: 3px 3px 1px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  align-items: center;
}
#colorChooseText {
  color: black;
  margin: 5px;
  font-size: larger;
}

#gridSizeChooseText {
  font-size: larger;
  color: black;
  margin: 5px;
}

footer {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 0;
}
#copyrightText {
  align-self: center;
}
#github-mark {
  width: 30px;
  height: 30px;
}
a {
  align-self: center;
}
