html {
  background-color: lightgray;
}
#container {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

#colorChooseText {
  color: black;
  margin: 5px;
}

#gridSizeChooseText {
  color: black;
  margin: 5px;
}
